@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'),
		 url('/fonts/roboto/roboto-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('/fonts/roboto/roboto-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face{
    font-family: 'Fira Mono';
    src: local('Fira Mono'),
         url('fonts/fira/FiraMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif !important;
	position: relative;
	width: 100%;
	min-height: 100vh;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto', sans-serif !important;
}

td {
	line-height:1.8 !important;
}

@media only screen and (max-width:768px) {
	.uoj-content {
		min-height: 100%;
		margin: 8rem 2rem auto 2rem;
	}
}

@media only screen and (min-width:768px) {
	.uoj-content {
		min-height: 100%;
		margin: 8rem 8rem auto 8rem;
	}
}

@media only screen and (max-width:768px) {
	.nav-content {
		margin: 0 2rem auto 2rem;
	}
}

@media only screen and (min-width:768px) {
	.nav-content {
		margin: 0 8rem auto 8rem;
	}
	.navbar-header {
		margin-left:-15px;
	}
}

.nav-pills {
	margin-top:2em;
}

.uoj-header {
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}

.panel-fixed {
	padding:0;
}

.table-fixed {
	margin-bottom: 0;
}

.uoj-footer {
	margin-top: 5em;
	padding: 4em;
	color: white;
	background-color: #273547;
	border-top: 1px solid #e5e5e5;
	height: 20em;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.uoj-footer a {
	color: gray;
}

.nav-fixed {
	background-color: #ffffff;
	border-color: #ffffff;
}

.nav-fixed a {
	border-top: 3px solid transparent;
}

.nav-border a:hover {
	border-color: #5f9fd6 !important;
}

.nav-border:hover {
	border-color: #5f9fd6 !important;
}

.nav-fixed li:hover {
	background: #f8f8f8;
}

.nav-active {
	border-color: #ed5f82 !important;
}

.navbar-brand img {
	height:25px;
}

.navbar-brand {
	border-top:0 !important;
}

.panel {
	border-radius: 2px;
}

.mdui-hoverable {
	-webkit-transition: -webkit-box-shadow .25s cubic-bezier(.4, 0, .2, 1);
			transition: -webkit-box-shadow .25s cubic-bezier(.4, 0, .2, 1);
			transition:         box-shadow .25s cubic-bezier(.4, 0, .2, 1);
			transition:         box-shadow .25s cubic-bezier(.4, 0, .2, 1), -webkit-box-shadow .25s cubic-bezier(.4, 0, .2, 1);
  
	will-change: box-shadow;
}

.mdui-hoverable:hover,
.mdui-hoverable:focus {
	-webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
			box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

pre {
	font-family: "Fira Mono","Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace !important;
}

a.header-a {
	color: #333;
}

a sup {
	text-decoration: none;
	display: inline-block;
}
a sub {
	text-decoration: none;
	display: inline-block;
}

.indent2 {
	text-indent: 2em;
}

article p {
	margin: 1em auto 1em auto;
	font-size: 1.2em;
}

article h3 {
	margin: 1.2em auto .6em auto;
}

article h2,h3,h4,h5,h6 {
	font-weight: bold;
}

.markdown-editor-out p {
	text-indent: 2em;
	word-break: break-all;
}

article img {
	max-width: 800px;
	margin: 0 auto;
	display: block;
}

pre {
	tab-size: 4;
}

article th {
	text-align: center;
}

article table {
	width: 100%;
	max-width: 100%;
}

blockquote p {
	margin:0;
}

blockquote {
	font-size:12px;
}

.label-default {
	background-color: #e8e8e8;
	padding: .5833em .833em;
	color: rgba(0,0,0,.6);
}

.top-buffer-md pre {
	box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
	margin: 1rem 0;
	padding: 1em 1em;
	border-radius: .28571429rem;
	border: 1px solid rgba(34,36,38,.15);
	background-color: #fff;
}

.panel-body pre {
	box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
	margin: 1rem 0;
	padding: 1em 1em;
	border-radius: .28571429rem;
	border: 1px solid rgba(34,36,38,.15);
	background-color: #fff;
}

code {
	font-family: "Fira Mono","Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace !important;
}

.sh_sourceCode code {
	font-size: 1.1em !important;
}

.sh_sourceCode {
	box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
	margin: 1rem 0;
	padding: 1em 1em;
	border-radius: .28571429rem;
	border: 1px solid rgba(34,36,38,.15);
	background-color: #fff;
}

#hitokoto-content {
	text-align: center;
}

#hitokoto-from {
	text-align: right;
	margin-top: 15px;
	font-size: 0.9em;
	color: rgb(102, 102, 102);
}

.uoj-username {
	font-weight: 800;
}

.uoj-honor {
	font-weight: 800;	
}
.uoj-score {
	font-weight: 700;
}

.panel-uoj-accepted {
	border-color:#2bff4f;
}
.panel-uoj-accepted>.panel-heading {
	cursor:pointer;
	color:#333;
	background-color:#00ee00;
	border-color:#2bff4f;
}
.panel-uoj-accepted>.panel-heading:hover {
	background-color:#2bff4f;
}
.panel-uoj-accepted>.panel-heading+.panel-collapse>.panel-body {
	border-top-color:#00ee00;
}
.panel-uoj-accepted>.panel-heading .badge {
	color:#00ee00;
	background-color:#333;
}
.panel-uoj-accepted>.panel-heading:hover .badge {
	color:#2bff4f;
}
.panel-uoj-accepted>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color:#2bff4f;
}

.panel-uoj-wrong {
	border-color:#ff0000;
}
.panel-uoj-wrong>.panel-heading {
	cursor:pointer;
	color:#333;
	background-color:#dd0000;
	border-color:#ff0000;
}
.panel-uoj-wrong>.panel-heading:hover {
	background-color:#ff0000;
}
.panel-uoj-wrong>.panel-heading+.panel-collapse>.panel-body {
	border-top-color:#dd0000;
}
.panel-uoj-wrong>.panel-heading .badge {
	color:#dd0000;
	background-color:#333;
}
.panel-uoj-wrong>.panel-heading:hover .badge {
	color:#ff0000;
}
.panel-uoj-wrong>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color:#ff0000;
}

.panel-uoj-acceptable-answer {
	border-color:#ff7700;
}
.panel-uoj-acceptable-answer>.panel-heading {
	cursor:pointer;
	color:#333;
	background-color:#ee5500;
	border-color:#ff0000;
}
.panel-uoj-acceptable-answer>.panel-heading:hover {
	background-color:#ff7700;
}
.panel-uoj-acceptable-answer>.panel-heading+.panel-collapse>.panel-body {
	border-top-color:#ee5500;
}
.panel-uoj-acceptable-answer>.panel-heading .badge {
	color:#ff7700;
	background-color:#333;
}
.panel-uoj-acceptable-answer>.panel-heading:hover .badge {
	color:#ff7700;
}
.panel-uoj-acceptable-answer>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color:#ff7700;
}

.panel-uoj-tle {
	border-color:#ffff2b;
}
.panel-uoj-tle>.panel-heading {
	cursor:pointer;
	color:#333;
	background-color:#e6e61e;
	border-color:#ffff2b;
}
.panel-uoj-tle>.panel-heading:hover {
	background-color:#ffff2b;
}
.panel-uoj-tle>.panel-heading+.panel-collapse>.panel-body {
	border-top-color:#ffff2b;
}
.panel-uoj-tle>.panel-heading .badge {
	color:#e6e61e;
	background-color:#333;
}
.panel-uoj-tle>.panel-heading:hover .badge {
	color:#ffff2b;
}
.panel-uoj-tle>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color:#ffff2b;
}

.table-text-center>thead>tr>th {
	text-align: center;
}
.table-text-center>tbody>tr>td {
	text-align: center;
}

.table-vertical-middle>thead>tr>th {
	vertical-align: middle;
}
.table-vertical-middle>tbody>tr>td {
	vertical-align: middle;
}

.top-buffer-no {
	margin-top: 0px;
}
.top-buffer-xs {
	margin-top: 3px;
}
.top-buffer-sm {
	margin-top: 5px;
}
.top-buffer-md {
	margin-top: 10px;
}
.top-buffer-lg {
	margin-top: 30px;
}

.bot-buffer-no {
	margin-bottom: 0px;
}
.bot-buffer-xs {
	margin-bottom: 3px;
}
.bot-buffer-sm {
	margin-bottom: 5px;
}
.bot-buffer-md {
	margin-bottom: 10px;
}
.bot-buffer-lg {
	margin-bottom: 30px;
}

.glyphicon-ok, .glyphicon-ok-sign {
	color: green;
}
.glyphicon-remove, .glyphicon-remove-sign {
	color: red;
}

.comt {
}

.comtposterbox {
	text-align:center;
}
.comtbox {
	width: 100%;
}
.comtbox1 {
	white-space: pre-wrap;
	word-break: break-all;
	min-height: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.comtbox2 {
	text-align: right;
}
.comtbox3 {
	display: inline-block;
	margin-right: 5px;
}
.comtbox4 {
	display: inline-block;
}
.comtbox5 {
	background-image: -webkit-linear-gradient(top, #f5f5f5 0, #fafafa 100%);
	background-image: -o-linear-gradient(top, #f5f5f5 0, #fafafa 100%);
	background-image: linear-gradient(to bottom, #f5f5f5 0, #fafafa 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fffafafa', GradientType=0);
	border-color: #dcdcdc;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
	padding: 9px;
	border-radius: 3px;
	
	min-height: 20px;
	margin-bottom: 20px;
	border: 1px solid #e3e3e3;

	margin-top: 10px;
}
.comtbox6 {
	white-space: pre-wrap;
	word-break: break-all;
}

.uoj-click-zan-block {
	display: inline-block;
	min-width: 140px;
	text-align: left;
}

.uoj-click-zan-up, .uoj-click-zan-down, .uoj-click-zan-cnt {
	margin-left: 5px;
	margin-right: 5px;
}

.uoj-click-zan-block-cur-up .uoj-click-zan-up {
	color: green;
	font-weight: 700;
}
.uoj-click-zan-block-cur-down .uoj-click-zan-down {
	color: red;
	font-weight: 700;
}
.uoj-click-zan-block-cur-down .uoj-click-zan-up, .uoj-click-zan-block-cur-up .uoj-click-zan-down {
	color: gray;
}

.uoj-click-zan-block-positive .uoj-click-zan-cnt {
	color: green;
}
.uoj-click-zan-block-neutral .uoj-click-zan-cnt {
	color: gray;
}
.uoj-click-zan-block-negative .uoj-click-zan-cnt {
	color: red;
}

.uoj-problem-tag {
	margin-left: 5px;
	margin-right: 5px;
}
.uoj-blog-tag {
	margin-left: 5px;
	margin-right: 5px;
}

.uoj-status-details-img-div {
	display:inline-block;
	width:50%;
	padding-right:10px;
	text-align:right;
}
.uoj-status-details-text-div {
	display:inline-block;
	width:50%;
	padding-left:10px;
	text-align:left;
}

article table>thead>tr>th,article table>tbody>tr>th,article table>tfoot>tr>th,article table>thead>tr>td,article table>tbody>tr>td,article table>tfoot>tr>td{padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #ddd}article table>thead>tr>th{vertical-align:bottom;border-bottom:2px solid #ddd}article table>caption+thead>tr:first-child>th,article table>colgroup+thead>tr:first-child>th,article table>thead:first-child>tr:first-child>th,article table>caption+thead>tr:first-child>td,article table>colgroup+thead>tr:first-child>td,article table>thead:first-child>tr:first-child>td{border-top:0}article table>tbody+tbody{border-top:2px solid #ddd}article table article table{background-color:#fff}article table-condensed>thead>tr>th,article table-condensed>tbody>tr>th,article table-condensed>tfoot>tr>th,article table-condensed>thead>tr>td,article table-condensed>tbody>tr>td,article table-condensed>tfoot>tr>td{padding:5px}article table-bordered{border:1px solid #ddd}article table-bordered>thead>tr>th,article table-bordered>tbody>tr>th,article table-bordered>tfoot>tr>th,article table-bordered>thead>tr>td,article table-bordered>tbody>tr>td,article table-bordered>tfoot>tr>td{border:1px solid #ddd}article table-bordered>thead>tr>th,article table-bordered>thead>tr>td{border-bottom-width:2px}article table-striped>tbody>tr:nth-of-type(odd){background-color:#f9f9f9}article table-hover>tbody>tr:hover{background-color:#f5f5f5}article table col[class*="col-"]{position:static;float:none;display:article table-column}article table td[class*="col-"],article table th[class*="col-"]{position:static;float:none;display:article table-cell}article table>thead>tr>td.active,article table>tbody>tr>td.active,article table>tfoot>tr>td.active,article table>thead>tr>th.active,article table>tbody>tr>th.active,article table>tfoot>tr>th.active,article table>thead>tr.active>td,article table>tbody>tr.active>td,article table>tfoot>tr.active>td,article table>thead>tr.active>th,article table>tbody>tr.active>th,article table>tfoot>tr.active>th{background-color:#f5f5f5}article table-hover>tbody>tr>td.active:hover,article table-hover>tbody>tr>th.active:hover,article table-hover>tbody>tr.active:hover>td,article table-hover>tbody>tr:hover>.active,article table-hover>tbody>tr.active:hover>th{background-color:#e8e8e8}article table>thead>tr>td.success,article table>tbody>tr>td.success,article table>tfoot>tr>td.success,article table>thead>tr>th.success,article table>tbody>tr>th.success,article table>tfoot>tr>th.success,article table>thead>tr.success>td,article table>tbody>tr.success>td,article table>tfoot>tr.success>td,article table>thead>tr.success>th,article table>tbody>tr.success>th,article table>tfoot>tr.success>th{background-color:#dff0d8}article table-hover>tbody>tr>td.success:hover,article table-hover>tbody>tr>th.success:hover,article table-hover>tbody>tr.success:hover>td,article table-hover>tbody>tr:hover>.success,article table-hover>tbody>tr.success:hover>th{background-color:#d0e9c6}article table>thead>tr>td.info,article table>tbody>tr>td.info,article table>tfoot>tr>td.info,article table>thead>tr>th.info,article table>tbody>tr>th.info,article table>tfoot>tr>th.info,article table>thead>tr.info>td,article table>tbody>tr.info>td,article table>tfoot>tr.info>td,article table>thead>tr.info>th,article table>tbody>tr.info>th,article table>tfoot>tr.info>th{background-color:#d9edf7}article table-hover>tbody>tr>td.info:hover,article table-hover>tbody>tr>th.info:hover,article table-hover>tbody>tr.info:hover>td,article table-hover>tbody>tr:hover>.info,article table-hover>tbody>tr.info:hover>th{background-color:#c4e3f3}article table>thead>tr>td.warning,article table>tbody>tr>td.warning,article table>tfoot>tr>td.warning,article table>thead>tr>th.warning,article table>tbody>tr>th.warning,article table>tfoot>tr>th.warning,article table>thead>tr.warning>td,article table>tbody>tr.warning>td,article table>tfoot>tr.warning>td,article table>thead>tr.warning>th,article table>tbody>tr.warning>th,article table>tfoot>tr.warning>th{background-color:#fcf8e3}article table-hover>tbody>tr>td.warning:hover,article table-hover>tbody>tr>th.warning:hover,article table-hover>tbody>tr.warning:hover>td,article table-hover>tbody>tr:hover>.warning,article table-hover>tbody>tr.warning:hover>th{background-color:#faf2cc}article table>thead>tr>td.danger,article table>tbody>tr>td.danger,article table>tfoot>tr>td.danger,article table>thead>tr>th.danger,article table>tbody>tr>th.danger,article table>tfoot>tr>th.danger,article table>thead>tr.danger>td,article table>tbody>tr.danger>td,article table>tfoot>tr.danger>td,article table>thead>tr.danger>th,article table>tbody>tr.danger>th,article table>tfoot>tr.danger>th{background-color:#f2dede}article table-hover>tbody>tr>td.danger:hover,article table-hover>tbody>tr>th.danger:hover,article table-hover>tbody>tr.danger:hover>td,article table-hover>tbody>tr:hover>.danger,article table-hover>tbody>tr.danger:hover>th{background-color:#ebcccc}article table-responsive{overflow-x:auto;min-height:0.01%}@media screen and (max-width:767px){article table-responsive{width:100%;margin-bottom:15px;overflow-y:hidden;-ms-overflow-style:-ms-autohiding-scrollbar;border:1px solid #ddd}article table-responsive>article table{margin-bottom:0}article table-responsive>article table>thead>tr>th,article table-responsive>article table>tbody>tr>th,article table-responsive>article table>tfoot>tr>th,article table-responsive>article table>thead>tr>td,article table-responsive>article table>tbody>tr>td,article table-responsive>article table>tfoot>tr>td{white-space:nowrap}article table-responsive>article table-bordered{border:0}article table-responsive>article table-bordered>thead>tr>th:first-child,article table-responsive>article table-bordered>tbody>tr>th:first-child,article table-responsive>article table-bordered>tfoot>tr>th:first-child,article table-responsive>article table-bordered>thead>tr>td:first-child,article table-responsive>article table-bordered>tbody>tr>td:first-child,article table-responsive>article table-bordered>tfoot>tr>td:first-child{border-left:0}article table-responsive>article table-bordered>thead>tr>th:last-child,article table-responsive>article table-bordered>tbody>tr>th:last-child,article table-responsive>article table-bordered>tfoot>tr>th:last-child,article table-responsive>article table-bordered>thead>tr>td:last-child,article table-responsive>article table-bordered>tbody>tr>td:last-child,article table-responsive>article table-bordered>tfoot>tr>td:last-child{border-right:0}article table-responsive>article table-bordered>tbody>tr:last-child>th,article table-responsive>article table-bordered>tfoot>tr:last-child>th,article table-responsive>article table-bordered>tbody>tr:last-child>td,article table-responsive>article table-bordered>tfoot>tr:last-child>td{border-bottom:0}}

article table{border:1px solid #ddd}article table>tbody>tr>td,article table>tbody>tr>th,article table>tfoot>tr>td,article table>tfoot>tr>th,article table>thead>tr>td,article table>thead>tr>th{border:1px solid #ddd}article table>thead>tr>td,article table>thead>tr>th{border-bottom-width:2px}

article table {
	box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
	margin: 1rem 0;
	padding: 1em 1em;
	border-radius: .28571429rem;
	border: 1px solid rgba(34,36,38,.15);
	background-color: #fff;
}

.sol-right {
	box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
	font-size:15px;
	line-height: 30px;
}

.admin-warning {
	color: #a94442;
	margin-bottom: 1em;
}

.sample-copy {
    border-radius:.28571429rem;
}